<?xml version="1.0" encoding="UTF-8"?>
<!--
Example P-Mode configuration for a One-Way/Push scenario. 
    
This configuration reflects the receiver of the message. If you are setting up a test environment based on the "Getting Started" page from the web site 
you should install this P-Mode on instance B. 
-->
<PMode xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://holodeck-b2b.org/schemas/2014/10/pmode" xsi:schemaLocation="http://holodeck-b2b.org/schemas/2014/10/pmode ../../repository/xsd/pmode.xsd">
    <id>pmode-eudamed-push-resp-eudamed-initiated</id>
    <mep>http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/oneWay</mep>
    <mepBinding>http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/push</mepBinding>
    <Initiator>
        <PartyId type="urn:oasis:names:tc:ebcore:partyid-type:unregistered:EUDAMED"><%= ENV["EUDAMED_PARTY_ID"] %></PartyId>
        <Role>http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/initiator</Role>
        <SecurityConfiguration>
            <Signing>
                <KeystoreAlias password="<%= ENV["EUDAMED_KEYSTORE_ALIAS_PASSWORD"] %>"><%= ENV["EUDAMED_KEYSTORE_ALIAS"]%></KeystoreAlias>
                <KeyReferenceMethod>KeyIdentifier</KeyReferenceMethod>
                <Algorithm>http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</Algorithm>
                <HashFunction>http://www.w3.org/2001/04/xmlenc#sha256</HashFunction>
            </Signing>
            <Encryption>
                <KeystoreAlias password="<%= ENV["EUDAMED_KEYSTORE_ALIAS_PASSWORD"] %>"><%= ENV["EUDAMED_KEYSTORE_ALIAS"]%></KeystoreAlias>
                <Algorithm>http://www.w3.org/2009/xmlenc11#aes128-gcm</Algorithm>
            </Encryption>
        </SecurityConfiguration>
    </Initiator>
    <Responder>
        <PartyId type="urn:oasis:names:tc:ebcore:partyid-type:unregistered:EUDAMED"><%= ENV["OURSELF_PARTY_ID"] %></PartyId>
        <Role>http://docs.oasis-open.org/ebxml-msg/ebms/v3.0/ns/core/200704/responder</Role>
        <SecurityConfiguration>
            <Signing>
                <KeystoreAlias password="<%= ENV["OURSELF_KEYSTORE_ALIAS_PASSWORD"] %>"><%= ENV["OURSELF_KEYSTORE_ALIAS"]%></KeystoreAlias>
                <KeyReferenceMethod>KeyIdentifier</KeyReferenceMethod>
                <Algorithm>http://www.w3.org/2001/04/xmldsig-more#rsa-sha256</Algorithm>
                <HashFunction>http://www.w3.org/2001/04/xmlenc#sha256</HashFunction>
            </Signing>
            <Encryption>
                <KeystoreAlias password="<%= ENV["OURSELF_KEYSTORE_ALIAS_PASSWORD"] %>"><%= ENV["OURSELF_KEYSTORE_ALIAS"]%></KeystoreAlias>
                <Algorithm>http://www.w3.org/2009/xmlenc11#aes128-gcm</Algorithm>
            </Encryption>
        </SecurityConfiguration>
    </Responder>
    <Leg>
        <Receipt>
            <ReplyPattern>RESPONSE</ReplyPattern>
        </Receipt>
        <DefaultDelivery>
            <DeliveryMethod>org.holodeckb2b.backend.rest.NotifyAndDeliverOperation</DeliveryMethod>
            <Parameter>
                <name>URL</name>
                <value><%= ENV["EUDAMED_CONNECTOR_API_RESPONSES_PATH"] %></value>
            </Parameter>
        </DefaultDelivery>
        <UserMessageFlow>
            <BusinessInfo>
                <Action>submitMessage</Action>
                <Service>
                    <name>http://ec.europa.eu/e-delivery/services/eudamed</name>
                    <type>e-delivery</type>
                </Service>
                <Property>
                    <name>originalSender</name>
                    <value>urn:oasis:names:tc:ebcore:partyid-type:unregistered:EUDAMED:C1</value>
                </Property>
                <Property>
                    <name>finalRecipient</name>
                    <value>urn:oasis:names:tc:ebcore:partyid-type:unregistered:EUDAMED:C4</value>
                </Property>
            </BusinessInfo>         
            <ErrorHandling>
                <NotifyErrorToBusinessApplication>true</NotifyErrorToBusinessApplication>
            </ErrorHandling>    
            <PayloadProfile>
                <UseAS4Compression>true</UseAS4Compression>
            </PayloadProfile>        
        </UserMessageFlow>
    </Leg>
</PMode>
